
<div class="container"> 
 <footer id="footer">
 	<div id="footer-3d">
		<div class="gp-container">
			<span class="first-widget-bend"></span>
		</div>		
	</div>




    <div id="footer-widgets" class="gp-footer-larger-first-col">
		<div class="gp-container">
            <div class="footer-widget footer-1">
            	<div class="wpb_wrapper">
					<img src="__PUBLIC__/Home/images/f_logo.png" alt=""/>
				</div> 
	          <br>
	         
			  <p class="text">我是一个中国人，永远也不会忘本，在好莱坞打拼如何也不仿碍我在国内发展，我们中国人不像有些国家，因为一部电影在好莱坞略有影响就改了美国籍。 —— 成龙</p>
			 </div>
			 <div class="footer_box">
			  <div class="col_1_of_3 span_1_of_3">
					<h3>热门频道</h3>
					<ul class="first">
						<li><a href="#">电视剧</a></li>
						<li><a href="#">电影</a></li>
						<li><a href="#">综艺</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>特色推荐</h3>
					<ul class="first">
						<li><a href="#">微电影</a></li>
						<li><a href="#">搞笑</a></li>
						<li><a href="#">原创自媒体</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>友情链接</h3>
					<ul class="first">
						<li><a href="https://space.bilibili.com/565346?from=search&seid=8384068083774544663#!/">哔哩哔哩</a></li>
						<li><a href="https://v.qq.com/">腾讯视频</a></li>
						<li><a href="http://www.youku.com/">优酷视频</a></li>
					</ul>
					<div class="copy">
				      <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="#">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			        </div>
		     </div>
		    <div class="clearfix"> </div>
	        </div>
	        <div class="clearfix"> </div>
		</div>
	</div>
  </footer>
</div>		
</body>
</html>